--core--colors--neutrals--100: white;
--core--font--family--primary-font: "Inter Tight", sans-serif;
--core--colors--neutrals--600: #717171;
--global--paragraph--rg: 16px;
--core--fonts--line-height--large: 1.5em;
--core--fonts--weight--regular: 400;
--global--font-size--letter-spacing: -.03em;
--core--font--family--headline: var(--core--font--family--primary-font);
--core--colors--neutrals--800: #121212;
--core--fonts--headings--h1: var(--core--fonts--displays--display-8);
--core--fonts--line-height--regular: 1.25em;
--core--fonts--weight--medium: 500;
--core--fonts--headings--h2: var(--core--fonts--displays--display-7);
--core--fonts--headings--h3: var(--core--fonts--displays--display-5);
--core--fonts--headings--h4: var(--core--fonts--displays--display-4);
--core--fonts--headings--h5: var(--core--fonts--displays--display-3);
--core--fonts--headings--h6: var(--core--fonts--displays--display-1);
--core--colors--neutrals--500: #a0a0a0;
--core--sizes--margins--sm: 24px;
--global--padding--medium: 40px;
--core--sizes--margins--2xsm: 16px;
--core--fonts--displays--display-2: 16px;
--core--sizes--paddings--lg: 48px;
--core--colors--secondary--300: #c4afa1;
--global--border-radius--default: var(--core--sizes--borders-radius--rg);
--core--fonts--displays--display-3: 18px;
--core--sizes--paddings--rg: 32px;
--core--sizes--paddings--sm: 24px;
--core--sizes--4xsm: 8px;
--core--sizes--margins--rg: 32px;
--core--sizes--margins--5xlg: 100px;
--core--colors--primary--100: #f6694b;
--core--sizes--borders-radius--sm: 24px;
--core--sizes--margins--xsm: 20px;
--core--colors--neutrals--200: #f6f6f6;
--global--container--default: 1228px;
--core--sizes--margins--4xsm: 8px;
--core--sizes--margins--md: 40px;
--core--sizes--margins--4xlg: 80px;
--core--sizes--margins--5xsm: 4px;
--core--sizes--borders-radius--4xsm: 8px;
--core--sizes--margins--3xlg: 72px;
--core--sizes--sm: 24px;
--core--sizes--margins--2xlg: 64px;
--core--colors--neutrals--300: #e7e7e7;
--core--sizes--borders-radius--2xsm: 16px;
--core--sizes--margins--3xsm: 12px;
--global--padding--small: 24px;
--global--sections--lg: 160px;
--global--sections--md: 120px;
--core--sizes--none: 0px;
--global--sections--xlg: 200px;
--global--sections--xsm: 64px;
--global--sections--rg: 100px;
--global--sections--sm: 80px;
--core--sizes--paddings--xsm: 20px;
--core--sizes--borders-radius--5xlg: 300px;
--global--font-size--default: 16px;
--core--sizes--paddings--2xsm: 16px;
--core--sizes--paddings--5xsm: 4px;
--core--sizes--paddings--3xsm: 12px;
--core--fonts--displays--display-1: 14px;
--core--sizes--xsm: 20px;
--core--fonts--displays--display-10: 72px;
--core--fonts--displays--display-8: 48px;
--core--fonts--icons--line-squared: "Line Squared Icon Font Brix", Arial, sans-serif;
--core--sizes--md: 40px;
--core--sizes--margins--xlg: 56px;
--core--sizes--paddings--4xsm: 8px;
--core--sizes--borders-radius--5xsm: 4px;
--core--sizes--margins--lg: 48px;
--core--sizes--margins--none: 0px;
--core--colors--opacity--0: #fff0;
--core--sizes--paddings--none: 0px;
--core--fonts--icons--default: var(--core--fonts--icons--line-rounded);
--core--sizes--rg: 32px;
--core--fonts--displays--display-4: 20px;
--core--sizes--borders-radius--rg: 32px;
--core--sizes--2xsm: 16px;
--core--fonts--displays--display-7: 36px;
--core--sizes--3xsm: 12px;
--core--sizes--borders-radius--4xlg: 100px;
--core--fonts--displays--display-5: 24px;
--core--fonts--line-height--small: 1.115em;
--core--fonts--weight--bold: 700;
--core--fonts--displays--display-6: 30px;
--core--colors--neutrals--700: #424242;
--core--sizes--borders-radius--md: 40px;
--core--fonts--displays--display-9: 60px;
--core--sizes--borders-radius--3xsm: 12px;
--core--colors--neutrals--400: #d0d0d0;
--core--sizes--5xsm: 4px;
--core--sizes--paddings--md: 40px;
--core--sizes--lg: 48px;
--core--sizes--xlg: 56px;
--core--sizes--2xlg: 64px;
--core--colors--secondary--400: #ffa693;
--core--colors--system--green-400: #74d184;
--core--colors--system--red-400: #fe566b;
--core--colors--system--blue-400: #64a7ff;
--core--colors--secondary--100: #80896d;
--core--sizes--paddings--3xlg: 72px;
--core--colors--secondary--200: #fef9f3;
--core--sizes--borders-radius--3xlg: 80px;
--core--sizes--paddings--xlg: 56px;
--core--fonts--icons--social-media: "Social Media Icon Font Brix", Arial, sans-serif;
--core--fonts--icons--filled-icons: "Filled Icon Brix", Arial, sans-serif;
--core--sizes--4xlg: 80px;
--core--colors--secondary--500: #ced8ba;
--core--sizes--borders-radius--xsm: 20px;
--core--colors--opacity--20: #fff3;
--core--sizes--borders-radius--none: 0px;
--core--sizes--6xlg: 120px;
--core--sizes--5xlg: 100px;
--global--border-radius--large: var(--core--sizes--borders-radius--md);
--core--colors--opacity--80: #fffc;
--core--colors--opacity--40: #fff6;
--core--colors--opacity--10: #ffffff1a;
--core--colors--opacity--30: #ffffff4d;
--core--colors--opacity--50: #ffffff80;
--core--colors--opacity--60: #fff9;
--core--colors--opacity--70: #ffffffb3;
--core--colors--opacity--90: #ffffffe6;
--core--colors--system--red-100: #fff5f6;
--core--colors--system--red-200: #fac6d0;
--core--colors--system--red-300: #fb93a3;
--core--colors--system--blue-100: #e3efff;
--core--colors--system--blue-200: #c3ddff;
--core--colors--system--blue-300: #8dc1ff;
--core--colors--system--yellow-100: #fffae9;
--core--colors--system--yellow-200: #faedbf;
--core--colors--system--yellow-300: #fbe080;
--core--colors--system--yellow-400: #efc42c;
--core--colors--system--green-100: #eef9f5;
--core--colors--system--green-200: #e2fbea;
--core--colors--system--green-300: #adecbb;
--core--font--family--secondary-font: "Inter Tight", sans-serif;
--core--fonts--icons--line-rounded: "Line Rounded Icon Font Brix", Arial, sans-serif;
--core--fonts--letter-spacing--none: 0px;
--core--fonts--letter-spacing--small: .04em;
--core--fonts--letter-spacing--regular: .08em;
--core--fonts--letter-spacing--large: .1em;
--core--sizes--3xlg: 72px;
--core--sizes--7xlg: 160px;
--core--sizes--8xlg: 200px;
--core--sizes--paddings--2xlg: 64px;
--core--sizes--paddings--4xlg: 80px;
--core--sizes--paddings--5xlg: 100px;
--core--sizes--borders-radius--lg: 48px;
--core--sizes--borders-radius--xlg: 56px;
--core--sizes--borders-radius--2xlg: 64px;
--global--paragraph--sm: 14px;
--global--paragraph--lg: 18px;
